{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-center" style="position: relative;">
    <h1>Thanks for reaching out to us!</h1>
    <p>We appreciate your effort to break through the digital noise. One of our friendly
        team members will respond to you as soon as possible—hopefully faster than a guitar solo at a rock concert.</p>

    <p> In the meantime, if you need further assistance, feel free to explore our <a href="{% url 'home' %}">home
            page</a>, where you'll find all sorts
        of interesting stuff. We promise, no waiting in queue, and the music is always playing!</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

{% endblock %}